@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes up-down {
  0% {
      transform: translateY(10px);
  }

  100% {
      transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
      transform: translateY(10px);
  }

  100% {
      transform: translateY(-10px);
  }
}


input:checked ~ .radio {
  color:#000;
  background-color: #fff;
  border-color: rgb(175, 42, 42);
  border-style: solid;
}